rich==13.7.0
psutil==5.9.8
pefile==2023.2.7
lief==0.14.1
yara-python==4.5.0
python-magic==0.4.27
python-magic-bin==0.4.14
dnspython==2.6.1
python-whois==0.9.4
requests==2.31.0
scapy==2.5.0
cryptography==42.0.5
colorama==0.4.6
pyOpenSSL==24.1.0